{% extends "base.html" %}
{% load static %}
{% block title %} : Miniatures {% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid miniatures-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">
                    Miniatures<br>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a href="{% url 'add_miniature'%}" class="btn btn-lg btn-green rounded-0 text-uppercase mt-2"><i class="fas fa-plus fa-sm"></i> Add a Miniature</a>
                        {% endif %}
                    {% endif %}
                </h2>
            
                {% with a=current_army gs=current_gamesys %}
                    {% if a %}
                        {% for a in current_army %}
                            <a href="{% url 'miniatures' %}?army={{ a.name }}" class="army-badge text-decoration-none">
                                <span class="p-2 mt-2 badge badge-white text-dark rounded-0 border border-dark">{{ a.friendly_name }}</span>
                            </a>
                        {% endfor %}
                    {% elif gs %}
                        {% for gs in current_gamesys %}    
                            <a href="{% url 'miniatures' %}?gamesys={{ gs.name }}" class="gs-badge text-decoration-none">
                                <span class="p-2 mt-2 badge badge-white text-dark rounded-0 border border-dark">{{ gs.friendly_name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="miniatures-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="army_asc" {% if current_sorting == 'army_asc' %}selected{% endif %}>Army (A-Z)</option>
                                <option value="army_desc" {% if current_sorting == 'army_desc' %}selected{% endif %}>Army (Z-A)</option>
                                <option value="gamesys_asc" {% if current_sorting == 'gamesys_asc' %}selected{% endif %}>Gaming System (A-Z)</option>
                                <option value="gamesys_desc" {% if current_sorting == 'gamesys_desc' %}selected{% endif %}>Gaming System (Z-A)</option>
                                <option value="itemcount_asc" {% if current_sorting == 'itemcount_asc' %}selected{% endif %}>Model Count (low to high)</option>
                                <option value="itemcount_desc" {% if current_sorting == 'itemcount_desc' %}selected{% endif %}>Model Count (high to low)</option>            
                                <option value="stock_asc" {% if current_sorting == 'stock_asc' %}selected{% endif %}>Stock (low to high)</option>
                                <option value="stock_desc" {% if current_sorting == 'stock_desc' %}selected{% endif %}>Stock (high to low)</option>
                                                          
                            </select>
                        </div>    
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_army or current_gamesys or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'miniatures' %}">Miniatures Home</a> | </span>
                            {% endif %}
                            {{ miniatures|length }} Miniatures{% if search_term %} found for <strong>{{ search_term }}</strong>{% endif %}
                        </p>    
                    </div>
                </div>
                <div class="row">
                    {% for miniature in miniatures %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0 shadow-sm">
                                {% if miniature.image %}
                                <a href="{% url 'miniature_details' miniature.id %}">
                                    <img src="{{ miniature.image.url }}" alt="{{ miniature.name }}" class="card-img-top img-fluid">
                                </a>
                                {% else %}
                                <a href="{% url 'miniature_details' miniature.id %}">
                                    <img src="{{ MEDIA_URL }}noimage.png" alt="No image" class="card-img-top img-fluid">
                                </a>
                                {% endif %}
                                <div class="card-body">
                                    <p class="mb-0">{{ miniature.name }}</p>
                                    <p class="lead mb-0 text-left font-weight-bold">€{{ miniature.price }}</p>
                                    <div class="row">
                                        <div class="col d-flex flex-column">
                                            <small class="text-muted"><i class="fas fa-crosshairs"></i> {{ miniature.army.friendly_name }}</small>
                                            {% if miniature.gamesys %}                                               
                                                <p class="small mb-0 text-muted"><i class="fas fa-dice"></i> {{ miniature.gamesys.friendly_name  }}</p>
                                            {% endif %}   
                                            <small class="text-muted"><i class="fas fa-user-times"></i> {{ miniature.itemcount  }} model{% if miniature.itemcount > 1 %}s{% endif %}</small>
                                             {% if miniature.stock > 0 %}
                                                <small class="text-muted"><i class="fas fa-boxes text-success"></i> {{ miniature.stock }} item{% if miniature.stock > 1 %}s{% endif %} in stock</small>
                                            {% else %}
                                                <small class="text-muted"><i class="fas fa-ban text-danger"></i> Out of stock</small>
                                            {% endif %}                                          
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="bg-white text-right px-3 pb-3">                                         
                                    {% if request.user.is_superuser %}
                                            <a href="{% url 'edit_miniature' miniature.id %}" class="btn btn-sm btn-outline-black rounded-0"><i class="fas fa-edit fa-sm"></i> Edit</a>
                                            <button class="btn btn-sm btn-danger rounded-0" type="button" data-toggle="modal" data-target="#miniDelete{{ miniature.id }}"><i class="fas fa-trash fa-sm"></i> Delete</button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="miniDelete{{ miniature.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="{{ miniature.id }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header text-center">
                                                        <h5 class="modal-title text-danger logo-font" id="staticBackdropLabel"><i class="fas fa-exclamation-triangle"></i> Warning !</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-black"><strong>{{ miniature.name }}</strong> will be permanently deleted!</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-black rounded-0" data-dismiss="modal"><i class="fas fa-times fa-sm"></i> Cancel</button>
                                                        <a type="button" class="btn btn-danger rounded-0" href="{% url 'delete_miniature' miniature.id %}"><i class="fas fa-trash fa-sm"></i> Delete</a>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                    {% endif %}                       
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a href="" class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}