{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100 d-flex justify-content-evenly align-items-start flex-row">
            <h3 class="text-center"><u>COMMISSIONS SIMPLIFIED</u></h3>
            <div class="col-md-2 d-xs-none info-box"></div>
            <div class="col-md-2 d-xs-none info-box"></div>
            <div class="col-md-2 d-xs-none info-box"></div>
            
            <div class="col-sm-12 d-md-none text-center">
                <ul class="list-unstyled">
                    <li>1. Option 1</li>
                    <li>2. Option 2</li>
                    <li>3. Option 3</li>
                    <li>4. Option 4</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}