{% extends "base.html" %}
{% load static %}

{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}

    <div class="container-fluid px-0">
        <!--Homepage welcome carousel-->
        <div id="carouselHomeSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="8000">
                    <img src="{{ MEDIA_URL }}playing.jpg" class="image-fld w-100 tinted" alt="Playing with miniatures" loading="lazy">
                    <div class="carousel-caption d-none d-md-block mx-auto">
                        <h2 class="my-lg-3 hero-text text-white text-shadow">Get an army that's <span class="green-text">ready</span> for all tabletops!</h2>
                        <a href="{% url 'miniatures' %}" class="btn btn-lg btn-green rounded-0 my-3" type="button">Browse Miniatures</a>
                    </div>
                    <div class="carousel-caption d-md-none d-sm-block w-auto">
                        <a href="{% url 'miniatures' %}" class="btn btn-sm btn-green rounded-0">Browse Our Miniature Range</a>
                    </div>
                </div>                
                <div class="carousel-item" data-interval="8000">
                    <img src="{{ MEDIA_URL }}register.jpg" class="image-fld w-100 tinted" alt="Darth Vader fighthing Luke Skywalker" loading="lazy">
                    <div class="carousel-caption d-none d-md-block mx-auto">
                        {% if request.user.is_authenticated %}
                            <h2 class="my-lg-3 hero-text text-white text-shadow">Looking for your next Tabletop-<span class="green-text">Ready</span> army?</h2>
                            <a href="{% url 'all_gallery_items' %}" class="btn btn-lg btn-green rounded-0 my-3" type="button">View our Gallery</a>
                        {% else %}
                            <h2 class="my-lg-3 hero-text text-white text-shadow">Create an account and start your next army Tabletop-<span class="green-text">Ready</span>!</h2>
                            <a href="{% url 'account_signup' %}" class="btn btn-lg btn-green rounded-0 my-3" type="button">Create an Account</a>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                     <div class="carousel-caption d-md-none d-sm-block w-auto">
                        <a href="{% url 'all_gallery_items' %}" class="btn btn-sm btn-green rounded-0">View our Gallery</a>
                    </div>
                    {% else %}
                    <div class="carousel-caption d-md-none d-sm-block w-auto">
                        <a href="{% url 'account_signup' %}" class="btn btn-sm btn-green rounded-0">Create an acccount and start your next army!</a>
                    </div>
                    {% endif %}
                </div>                    
            </div>       
        </div>   
    
        <!--Latest gallery items display-->               
        <div class="row justify-content-center mb-2 w-100 mx-0">
            <div class="col-12 text-center mt-3">
                <h2 class="logo-font">Latest From Our Gallery</h2>
                <hr class="w-50 mb-3">
            </div>
            {% for item in gallery_items %}
                <div class="col-sm-12 col-md-4 col-lg-5">
                    <div class="card h-100 border-0 shadow-sm">                                
                        <a href="{% url 'all_gallery_items' %}">
                            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="card-img-top img-fluid" loading="lazy">
                        </a>                         
                        <div class="card-body">
                            <p class="lead mb-0 text-left font-weight-bold">{{ item.name }}</p>
                            <div class="row">
                                <div class="col d-flex flex-column">                                            
                                    <small class="text-muted"><i class="fas fa-dice"></i> {{ item.gamesystem  }}</small>
                                    <small class="text-muted"><i class="fas fa-crosshairs"></i> {{ item.army }}</small>
                                    <small class="text-muted"><i class="fas fa-flag"></i> {{ item.faction }}</small>                                                                                                                                                              
                                </div>
                            </div>                                    
                        </div>                        
                    </div>            
                </div>
            {% endfor %}    
        </div>
        
        <!--Contact form-->
        <div id="contact" class="row bg-dark contact-container w-100 mx-0">
            <div class="col-sm-12 col-md-6 border bg-white p-3 m-3 mx-md-auto my-md-5">
                <h2 class="logo-font text-center">Get in touch</h2>
                <p class="mb-3">If you have a question for us please fill out the form below</p>
                <form class="contact-form" action="{% url 'contact_us' %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input class="btn btn-green rounded-0 w-100" type="submit" value="Send Message" />
                </form>
            </div>
        </div>
        
        <div class="btt-button shadow-sm rounded-0 border border-black">
            <a href="" class="btt-link d-flex h-100">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>
        </div>
        
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>    
{% endblock %}