{% extends "base.html" %}
{% load static %}
{% block title %} : Gallery {% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid miniatures-container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">
                    Gallery<br>
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <a href="{% url 'add_gallery_item'%}" class="btn btn-lg btn-green rounded-0 text-uppercase mt-2"><i class="fas fa-plus fa-sm"></i> Add a Gallery Item</a>
                        {% endif %}
                    {% endif %}
                </h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="container col-10 offset-1">
                <div class="row mt-1 mb-2">                    
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                          {{gallery_items|length }} Gallery Items
                        </p>    
                    </div>                    
                </div>
                <div class="row">
                    {% for gallery_item in gallery_items %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">                                
                                <a href="{{ gallery_item.image.url }}" target="_blank">
                                    <img src="{{ gallery_item.image.url }}" alt="{{ gallery_item.name }}" class="card-img-top img-fluid" loading="lazy">
                                </a>                         
                                <div class="card-body">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ gallery_item.name }}</p>
                                    <div class="row">
                                        <div class="col d-flex flex-column">                                            
                                            <small class="text-muted"><i class="fas fa-dice"></i> {{ gallery_item.gamesystem  }}</small>
                                            <small class="text-muted"><i class="fas fa-crosshairs"></i> {{ gallery_item.army }}</small>
                                            <small class="text-muted"><i class="fas fa-flag"></i> {{ gallery_item.faction }}</small>                                            
                                            <small class="text-muted"><i class="fas fa-calendar-day"></i> {{ gallery_item.date_added }}</small>                                                                                                                            
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="card-footer bg-white px-3 pb-3 flex-row justify-content-between">
                                    <p class="px-0 icon"><i class="far fa-heart fa-lg"></i></p>                                         
                                    {% if request.user.is_superuser %}
                                        <div class="px-0 mx-0">
                                            <a href="{% url 'edit_gallery_item' gallery_item.id %}" class="btn btn-sm btn-outline-black rounded-0"><i class="fas fa-edit fa-sm"></i> Edit</a>
                                            <button class="btn btn-sm btn-danger rounded-0" type="button" data-toggle="modal" data-target="#itemDelete{{ gallery_item.id }}"><i class="fas fa-trash fa-sm"></i> Delete</button>
                                        </div>                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="itemDelete{{ gallery_item.id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="{{ gallery_item.id }}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title text-danger logo-font" id="staticBackdropLabel"><i class="fas fa-exclamation-triangle"></i> Warning !</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="text-black"><strong>{{ gallery_item.name }}</strong> will be permanently deleted!</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-black rounded-0" data-dismiss="modal"><i class="fas fa-times fa-sm"></i> Cancel</button>
                                                    <a type="button" class="btn btn-danger rounded-0" href="{% url 'delete_gallery_item' gallery_item.id %}"><i class="fas fa-trash fa-sm"></i> Delete</a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}                       
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}

                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a href="" class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('.btt-link').click(function(e) {
            window.scrollTo(0,0)
        })
    </script>   
{% endblock %}