html { 
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link,
.main-logo-link:hover,
.main-logo-link:active {
    color: #333333;
    font-family: 'Julius Sans One', sans-serif;
    
}

.nav-icon-txt {
    font-size: 14px;
}

.search-dropdown {
    transform: translate3d(-276px, 64px, 0px) !important;
}

.search-form {
    width: 325px;
}

#shipping-banner {
    background-color: #333333;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #7ab648;
    color: #fafafa;
}

.green-text {
    color: #7ab648 !important;
}

.text-center {
    height: min-content;
}

.tinted { 
    opacity: 0.75; 
}

.order-now-button {
    background: #222;
    color: #fafafa;
    min-width: 260px;
}

.order-now-button:hover, 
.order-now-button:active,
.order-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: #222;
    color: #fafafa;
}

.text-black {
    color: #000 !important;    
}

.text-shadow {
    text-shadow: 2px 2px 4px #333333;
}

.btn-green {
    background: #7ab648;
    color: #fafafa;
}
.btn-black {
    background: black;
    color: #fafafa;
}

.btn-outline-black {
    background: white;
    color: #333333 !important;
    border: 1px solid #333333;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #333333;
    color: #fafafa !important;
}

.border-black {
    border: 1px solid #000 !important;
}

.border-white {
    border: 1px solid white !important;
}

.bg-black {
    background: #333333 !important;
}

.hero-text {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bolder;    
}

#topnav a h2,
.mobile-logo {
    width: max-content;
    padding: 8px;
    border: 1px solid #000;
}

.logo-font {
    font-family: 'Julius Sans One', sans-serif;     
}

.carousel-item img {
    background-size: cover;
    min-height: 250px;
}

.cart-container {
    flex: 1;
    margin-top: 80px;
}

footer {
    background-color: #333333;
    color: #fafafa;
    font-family: 'Lato', sans-serif;     
    bottom: 0;  
}

footer i {
    color: #fafafa;
}

.footer-logo {        
    width: max-content;
    padding: 6px;
    border: 1px solid white;      
}

.footer-link {
    font-family: 'Julius Sans One', sans-serif; 
    font-weight: lighter !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fafafa;
    z-index: -1;
}

a.army-badge > span.badge:hover,
a.gs-badge > span.badge:hover {
    background: #7ab648;
    color: #fafafa !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 60px;
    right: 10px;    
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*----------------------------------Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }  
}

/* Fixed top-navbar and footer height only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 120px;
    }  
    
    .carousel-caption {
        margin-bottom: 7rem;
    }
    
    .miniatures-container,
    .cart-container {
        /* min-height: calc(84.3vh - 55px); */
        flex: 1;
        margin-top: 20px;
    }

    .miniature-details-container {
        /* min-height: calc(84.3vh - 55px); */
        flex: 1;
        margin-top: 27.8px;
    }

    footer {
        max-height: 55px;         
    }
}

/* Adds top padding when the navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 150px);
    }

    #carouselHomeSlidesOnly {
        padding-top: 44px;
    }
}

@media (max-width: 320px) {
    #carouselHomeSlidesOnly {
        padding-top: 108px;
    }
}