<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item dropdown">
            <a class="nav-font text-black nav-link mr-3" href="#" id="miniatures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Miniatures
            </a>
            <div class="dropdown-menu shadow-sm border-0" aria-labelledby="miniatures-link">
                <a href="{% url 'miniatures' %}?sort=gamesys&direction=asc" class="dropdown-item">By Gaming System</a>
                <a href="{% url 'miniatures' %}?sort=manufacturer&direction=asc" class="dropdown-item">By Manufacturer</a>
                <a href="{% url 'miniatures' %}?sort=army&direction=asc" class="dropdown-item">By Army</a>
                <a href="{% url 'miniatures' %}?sort=itemcount&direction=desc" class="dropdown-item">By Model Count</a> 
                <a href="{% url 'miniatures' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'miniatures' %}?sort=stock&direction=desc" class="dropdown-item">By Stock</a>
                <hr>                              
                <a href="{% url 'miniatures' %}" class="dropdown-item">All Miniatures</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-font text-black nav-link mr-3" href="#" id="armies-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Armies
            </a>
            <div class="dropdown-menu shadow-sm border-0" aria-labelledby="armies-link">
                <a href="#" class="dropdown-item small green-text disabled">Warhammer 40,000</a>
                <hr class="float-left" width="180">
                <a href="{% url 'miniatures' %}?army=adeptus_astartes" class="dropdown-item">Adeptus Astartes</a>
                <a href="{% url 'miniatures' %}?army=astra_militarum" class="dropdown-item">Astra Militarum</a>
                <a href="{% url 'miniatures' %}?army=chaos" class="dropdown-item">Chaos</a>
                <a href="{% url 'miniatures' %}?army=thousand_sons" class="dropdown-item">Thousand Sons</a>                
                <a href="{% url 'miniatures' %}?army=necrons" class="dropdown-item">Necrons</a>                
                <hr>
                <a href="#" class="dropdown-item small green-text disabled">Warhammer: Age of Sigmar</a>
                <hr class="float-left" width="180">
                <a href="{% url 'miniatures' %}?army=strmcast_etrnls" class="dropdown-item">Stormcast Eternals</a>
                <hr>
                <a href="#" class="dropdown-item small green-text disabled"> Star Wars: Legion</a>
                <hr class="float-left" width="180">
                <a href="{% url 'miniatures' %}?army=galactic_empire" class="dropdown-item">Galactic Empire</a>
                <a href="{% url 'miniatures' %}?army=rebel_alliance" class="dropdown-item">Rebel Alliance</a>
                <hr>
                <a href="{% url 'all_armies' %}" class="dropdown-item">All Armies</a>                                  
            </div>
        </li>

         <li class="nav-item dropdown">
            <a class="nav-font text-black nav-link mr-3" href="#" id="gs-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Game Systems
            </a>
            <div class="dropdown-menu shadow-sm border-0" aria-labelledby="gs-link">
                <a href="#" class="dropdown-item small green-text disabled">Games Workshop</a>
                <hr class="float-left" width="180">
                <a href="{% url 'miniatures' %}?army=adeptus_astartes,chaos,astra_militarum,thousand_sons,necrons" class="dropdown-item">Warhammer 40,000</a>
                <a href="{% url 'miniatures' %}?gamesys=wh_aos" class="dropdown-item">Warhammer: Age of Sigmar</a>
                <hr>
                <a href="#" class="dropdown-item small green-text disabled">Fantasy Flight Games</a>
                <hr class="float-left" width="180">
                <a href="{% url 'miniatures' %}?army=galactic_empire,rebel_alliance" class="dropdown-item">Star Wars: Legion</a>
                <hr>
                <a href="{% url 'all_gamesystems' %}" class="dropdown-item">All Game Systems</a>              
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-font text-black nav-link mr-3" href="{% url 'all_gallery_items' %}">
                Gallery
            </a>      
        </li>
    </ul>
</div>