{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans ": Sign In" %}{% endblock %}

{% block inner_content %}

<div class="container pb-4 mt-0">
    <!-- Sign in form-->
    <div class="row">
    <div class="col">        
        <hr>
        <h2 class="logo-font mb-4">{% trans " Sign In With Email or Username" %}</h2>
        <hr>    
    </div>
    </div>
    <div class="row my-2">
        <div class="col-sm-12 my-md-3">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a href="{% url 'home' %}" class="btn btn-black rounded-0 my-2">
                            <span class="icon mr-2">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Home</span>
                        </a>
                <button class="btn btn-green rounded-0 ml-2" type="submit"><span class="text-uppercase px-2">{% trans "Sign In" %}</span></button>
                {% blocktrans with site.name as site_name %}        
                    <p class="mt-1 mb-2">Not registered? <a class="pl-1 green-text" href="{{ signup_url }}"> Sign up</a></p>
                {% endblocktrans %}
                <p class="mt-2">
                    <a class="btn btn-outline-black rounded-0 float-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </p>
            </form>
        </div>
    </div>    
{% endblock %}